<div class="modal fade " id="Novidade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<form id="formulario" action="javascript:func()" method="post">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Atulizações</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<img src="/novidade.png" />
				
			
		</div>
		<div class="modal-footer">
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="naoMostrarModal">
				<label class="form-check-label" for="flexCheckDefault">
					Não Mostrar de Novo
				</label>
			</div>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
		</div>
		</div>
	</div>
	</form>
</div>