<ul class="side-menu metismenu">
    <li>
        <a href="/adm/principal" id="link_principal"><i class="sidebar-item-icon fa fa-th-large"></i>
            <span class="nav-label">Dashboard</span>
        </a>
    </li>
    <li>
        <a href="" id="dados_cadastrais"><i class="sidebar-item-icon fa fa-user-md" aria-hidden="true"></i>
            <span class="nav-label">Dados Cadastrais </span>
        </a>
    </li>
    <li>
        <a href="/adm/aulas" id="link_aulas"><i class="sidebar-item-icon fa fa-video-camera" aria-hidden="true"></i>
            <span class="nav-label">Aulas </span>
        </a>
    </li>
    <li>
        <a href="/login"><i class="sidebar-item-icon fa fa-power-off" aria-hidden="true"></i>
            <span class="nav-label">Sair</span>
        </a>
    </li>
</ul>

<script>

    function getCookie(name) {
        let cookies = document.cookie.split("; ");
        for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i];
            let [cookieName, cookieValue] = cookie.split("=");
            if (cookieName === name) {
                return cookieValue;
            }
        }
        return null;
    }

    let a_principal = document.querySelector("#link_principal");
    a_principal.href = "/user/principal/"+ getCookie("user_uid");

    
    let a_aulas = document.querySelector("#link_aulas");
    a_aulas.href = "/user/aulas/"+ getCookie("user_uid");

    let a_dados_cadastrais = document.querySelector("#dados_cadastrais");
    a_dados_cadastrais.href = "/user/profile/"+ getCookie("user_uid");

</script>